body{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
  width: 100%;
  position: fixed;
  top:20px;
  text-align:center;
  padding: 50px;
  transition: background-color 0.3s ease; 
  z-index: 1;
  
}
nav a{
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  margin:0 15px;
  font-size:20px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
  text-decoration: none;
  color:white;

}
nav a:before{
  content:'';
  position: absolute;
  height: 5px;
  background:rgb(132, 85, 246);
  top:130%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  text-decoration: none;
  color:rgb(255, 255, 255);

  
}

@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}


  .icon{
    width: 120px;
    position:relative;
    bottom: 83vh;
    left: 60px;
    position: fixed;
    z-index: 1;
    }

    .projects {
      margin: 130px auto;
      text-align: center; 
    }
    
    .container-projects {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
      gap: 6px;
      justify-content: center; 
      
    }
    
    .project {
      margin:20px 30px;
      background-color: rgba(82, 82, 82, 0.179);
      padding:50px; 
      border-radius: 30px;
      

      
    }

    
    .project>img {
      width: 100%; 
      height: 200px; 
      display: block;
      border-radius:8px;
      box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.456);
    }
    
    .projects-svg{
      display:flex;
    }
    .svg-project{
      width: 90px;
      align-items: center;
      margin-left: 10px;
    }

    .project-tittle{
      margin-top: 20%;
    }

    .button-container {
      display: flex;
      justify-content: center; 
      margin-top: 40px;
      
    }


   .btn-git {
      position: relative;
      padding: 1em 1.8em;
      outline: none;
      border: 3px solid #303030;
      background: #212121;
      color:white;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 15px;
      overflow: hidden;
      transition: 0.2s;
      border-radius: 20px;
      cursor: pointer;
      font-weight: bold;
      align-items: center;
      display: flex;
      height: 50px;
      gap: 5px;
      
     }
     
     .btn-git:hover {
      transition-delay: 0.6s;
     }
     
     .btn-git span {
      position: absolute;
     }
     
     .btn-git span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #ae00ff);
     }
     
     .btn-git:hover span:nth-child(1) {
      left: 100%;
      transition: 0.7s;
     }
     
     .btn-git span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #001eff);
     }
     
     .btn-git:hover span:nth-child(3) {
      right: 100%;
      transition: 0.7s;
      transition-delay: 0.35s;
     }
     
     .btn-git:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #ae00ff);
     }
     
     .btn-git:hover span:nth-child(2) {
      top: 100%;
      transition: 0.7s;
      transition-delay: 0.17s;
     }
     
     .btn-git span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #001eff);
     }
     
     .btn-git:hover span:nth-child(4) {
      bottom: 100%;
      transition: 0.7s;
      transition-delay: 0.52s;
     }
     
     .btn-git:active {
      background: #ae00af;
      background: linear-gradient(to top right, #ae00af, #001eff);
      color: #bfbfbf;
      box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
      transition: 0.1s;
     }
     
     .btn-git:active span:nth-child(1) 
     span:nth-child(2) 
     span:nth-child(2) 
     span:nth-child(2) {
      transition: none;
      transition-delay: none;
     }
     .button-container {
      display: flex;
      justify-content: center;
    }
    .btn-git a {
      display: flex;
      align-items: center; 
      text-decoration: none; 
    }

    .social-skl{
      width: 30px;
      
    }

