body{
    background-color: black;
}



  .icon{
    width: 120px;
    position:relative;
    bottom: 83vh;
    left: 60px;
    position: fixed;
    z-index: 1;
    }
    
    .projects{
        margin: 200px auto;
        width: 700px;
       
    }

    .img-pj{
        width: 400px;
        border-radius: 30px;
    }


    .projects-img > img{
      width: 350px;
      height: auto;
    }

    .projects-img {
      display: grid;
      grid-template-columns: 
      repeat(
        auto-fit,
        minmax(150px,1fr)
      );
      gap:32px;
      background-color: rgba(103, 92, 92, 0.094);
      padding: 50px;
      border-radius: 38px;
    }
    .svg-projects{
      width: 35px;
      height: 40px;
      background-color: rgba(157, 0, 255, 0.281);
      border-radius: 50%;
      

    }