body{
    background-color: #000000;
    color: aliceblue;
    margin: 0 auto;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.full-container{
  margin: 0 auto;

}
.icon{
width: 120px;
position:relative;
bottom: 83vh;
left: 60px;
position: fixed;
z-index: 1;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none; 
  position: absolute;
  top: 10px;
  right: 20px; 
}

@import url('https://fonts.googleapis.com/css?family=Oswald:500');


nav{
  width: 100%;
  position: fixed;
  top:20px;
  text-align:center;
  padding: 50px;
  transition: background-color 0.3s ease; 
  z-index: 1;
  
}
nav a{
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:white;
  margin:0 15px;
  font-size:20px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}
nav a:before{
  content:'';
  position: absolute;
  height: 5px;
  background:rgb(132, 85, 246);
  top:130%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}

@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}

#menu-icon{
  position: fixed;
  z-index: 1;
}
.container{
  margin: 200px 70px;

}
.home {
  margin: 10px ;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
 
}

.img-banner {
  grid-row: 1/1;
  grid-column: 2/4;
  width: 500px;
  position: relative;
  left: 265px;
  bottom: 120px;

}


.hi{
  font-size: 50px;
  font-weight: bold;
  color: rgba(230, 229, 229, 0.868);
  width: 600px;
  grid-row: 1/1;
  grid-column: 1/5;

  
}

.name{
  font-size: 120px;
  font-weight: bold;
  background-image: linear-gradient(-20deg, #b721ff 30%, #21d4fd 100%);
  -webkit-background-clip: text;
  color: transparent; 
  display: inline-block; 
  grid-row: 2/1;
  grid-column: 1/4;
  z-index: 1;
 



}

.title-hm{
  position: relative;
  bottom: 400px;
  left: 10px;
  font-size: 30px;
  font-weight: bold;
  color: rgba(230, 229, 229, 0.868);
  grid-template-rows: 1/4;
  grid-row: 2/2;
  grid-column: 1/4;

}

.btn-hm{
  display: flex;
  position: relative;
  left: 50px;
  bottom: 280px;
  gap:30px;
  grid-row: 3/2;
  grid-column: 1/4;
  z-index: 1;


}

.btn-ctm {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-ctm::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-ctm::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.btn-ctm:hover::after {
  filter: blur(30px);
}

.btn-ctm:hover::before {
  transform: rotate(-180deg);
}

.btn-ctm:active::before {
  scale: 0.7;
}

.btn-pjs{
  position: relative;
  bottom: 3px;
  width: 120px;
  height: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(33, 33, 33, 0.942);
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.fade-in {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.fade-in.active {
  opacity: 1;
}




.skills {
  display: block;
  padding: 40px;
  background-image: linear-gradient(-525deg, #0000004a 20%, #67179282 50%, #390aa643 100% );
  padding: 80px;
  position: relative;
  bottom:300px;
  padding: 100px;
  border: 1 solid rgb(255, 255, 255);
  width: auto;
}
.tl-skills{
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient( 172deg, #DDE6E8, #647eff );
  -webkit-background-clip: text;
  color: transparent; 
}

.skl-div{
text-align: center;
padding: 15px;
position: relative;
top: 50px;
}
h2{
  position: relative;
  top: 30px;
}
#text-container {
  font-size: 28px; 
  
  
}


/*Footer*/

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.196);
  display: flex;
  align-items: center;
  justify-content: space-between; 
  
  
}

.ft-social {
  
  display: flex;
  gap: 15px;
  margin-right: 40px;


}

.social {
  width: 40px;

}

.ftr-p{
  margin-left: 50px;
  font-size: 15px;
}
.ftr-a{
  text-decoration: none;
  color:aliceblue;
  font-size: 17px;

}
.ft-flw{
  margin-left: 400px;
  font-family: 20px;
}



  
  
  @keyframes blinkCursor {
    50% {
      border-right-color: transparent;
    }
  }
  
  @keyframes typeAndDelete {
    0%,
    10% {
      width: 0;
    }
    45%,
    55% {
      width: 6.2em;
    } 
    90%,
    100% {
      width: 0;
    }
  }
  
  .terminal-loader {
    display: grid;
    border: 0.1em solid #333;
    background-color: #1a1a1a;
    color: rgb(255, 255, 255);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    padding: 1.5em 1em;
    width: 80%; 
    max-width: 800px;
    height: 300px;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.248);
  }
    
  .terminal-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background-color: #333333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 0.4em;
    box-sizing: border-box;
  }
  
  .terminal-controls {
    float: right;
  }
  
  .control {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin-left: 0.4em;
    border-radius: 50%;
    background-color: #777;
  }
  
  .control.close {
    background-color: #e33;
  }
  
  .control.minimize {
    background-color: #ee0;
  }
  
  .control.maximize {
    background-color: #0b0;
  }
  
  .terminal-title {
    float: left;
    line-height: 1.5em;
    color: #eee;
  }
  
  .terminal-text {
    font-size: 1em;
    line-height: 1.5;
    margin-top: 20px;
  }
  
  .color {
    color: orange;
  }
  
  

  @media screen and (max-width: 768px) {
  .home {
    margin: 10px ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;   
   
  }
  
  .img-banner {
    grid-row: 1/4;
    grid-column:2/2;
    position: relative;
    left: -105px;
    top: 20px;
    width: 400px;
  }
  
  
  .hi{
    font-weight: bold;
    color: rgba(230, 229, 229, 0.868);
    width: 360px;
    grid-row: 2/1;
    grid-column: 1/2;
    margin: 15px;
    z-index: 1;
    font-size: 40px;
    position: relative;
    left: 100px;
    top: 60px;
    
  }
  
  .name{
   font-size: 100px;
   position: relative;
   left: 90px;
   top: 50px;
  }
  
  .title-hm{
    grid-row: 1/1;
    grid-column: 1/1;
    position: relative;
    top: 350px;
    left:110px;
    font-weight: bold;
    color:rgba(252, 252, 252, 0.836);
    
  
  }
  
  .btn-hm{
    display: flex;
    gap:30px;
    grid-row: 4/4;
    grid-column: 1/4;
    z-index: 1;
    position: relative;
    bottom: 130px;
    left: 100px;
  
  
  }
  
  .btn-ctm {
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .btn-ctm::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .btn-ctm::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .btn-ctm:hover::after {
    filter: blur(30px);
  }
  
  .btn-ctm:hover::before {
    transform: rotate(-180deg);
  }
  
  .btn-ctm:active::before {
    scale: 0.7;
  }
  
  .tl-skills{
    font-size: 45px;
    font-weight: bold;
    background: linear-gradient( 172deg, #DDE6E8, #647eff );
    -webkit-background-clip: text;
    color: transparent; 
    width: 400px;
    
  }
  
}
  
  @media screen and (max-width: 480px) {

    nav{
      display: none;
    }
    .icon{
      display: none;
    }
    .home {
      margin: 10px ;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      justify-content: center; 
      padding: 40px;
      
     
    }
    .img-banner {
      grid-row: 1/1;
      grid-column:1/2;
      width: 200px;
      position: absolute;
      left: 45px;
      top: 90px;
      width: 340px;
    
    
    }
    .hi{
      font-weight: bold;
      color: rgba(230, 229, 229, 0.868);
      width: 270px;
      grid-row: 1/1;
      grid-column: 1/1;
      margin: 5px;
      z-index: 1;
      font-size: 5vw;
      position: relative;
      top: auto;
      left: 20px;
    
      
    }
    
    .name{
      font-size: 70px;
      font-weight: bold;
      background-image: linear-gradient(-20deg, #b721ff 30%, #21d4fd 100%);
      -webkit-background-clip: text;
      color: transparent; 
      display: inline-block; 
      grid-row: 2/1;
      grid-column: 1/4;
      z-index: 1;
      font-size: 15vw;
      width: auto;
      left: 20px;
      top: auto;
    }
  
  
  
    .title-hm {
      font-size: 20px;
      margin-top: 90px;
      color: rgba(255, 255, 255, 0.93);
      font-weight: bold;
      position: relative;
      top: 120px;
      left:20px;
  

    }
    .btn-hm{
      display: flex;
      gap:30px;
      grid-row: 4/4;
      grid-column: 1/4;
      z-index: 1;
      position: relative;
      bottom:10px;
      left: 30px;
    
    
    }
    .tl-skills{
      font-size: 35px;
      text-align: left;
      position: relative;
      right: 50px;

      
      
    }

    .skills {
      display: block;
      background-image: linear-gradient(-525deg, #0000004a 20%, #67179282 50%, #390aa643 100%);
      position: relative;
      bottom: 300px;
      width: 80%; 
    }    

    .terminal-loader {
      width: 100%; 
      max-width: 600px;
      height: 540px;
      margin: 0 auto;
      position: relative;
      right: 60px;
      
    }
    .skl-div {
      display: flex;
      justify-content: start; 
      align-items: center; 
      flex-wrap: wrap; 
      margin: auto;
      position: relative;
      right: 40px;
  }
  
  .skl-div > * {
      flex: 0 0 calc(33.33% - 0.5px); 
  
  .svg-skills {
      width: 90px;
  }
  
}

  }